@font-face {
  font-family: 'InterRegular';
  src: url('/assets/fonts/Inter_Regular.ttf') format('truetype');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
  font-family: 'InterRegular', sans-serif;
  /* min-width: 320px;
  min-height: 100vh; */
}
